@import 'bootstrap-sprockets';
@import 'bootstrap';

/* universal */
.navbar-inverse {
  background-color: #fff;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
@font-face {
       font-family: "Didot";
       src: url('/fonts/didot.ttf') format("truetype");
}

$red: red;
$light-gray: #777;

#app_name {
  font-family: "Didot";
  float: left;
  margin-right: 10px;
  font-size: 2.7em;
  color: $light-gray;
  // letter-spacing: -1px;
  padding-top: 9px;
  &:hover {
    color: $red;
    text-decoration: none;
  }
}

#log_in {
  padding-top: 9px;
  padding-bottom: 9px;
}

/* footer */

footer {
  font-family: "Didot";
  word-spacing: 30px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-gray;
  a {
    color: #555;
    &:hover {
      color: $red;
    }
  }
}

.logo {
  margin-bottom: 10px;
  width: 220px;
  height:199px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  background:transparent url('/images/vigil_logo1.png');
}

.logo:hover {
  background-image: url('/images/grey_vigil_logo.png');
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar - USER SHOW PAGE */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

// .user_image {
//   float: left;
//   margin-right: 10px;
// }
//
// .user_image {
//   margin-top: 15px;
// }

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 10px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

label.error {
  clear: both;
  color: #ef514c;
  padding: 0 0 10px 0;
  margin-top: 5;
  display: inline;
  float: left;
  width: 100%;
  line-height: 1em;
  text-align: left;
}

div.error {
  font-size: 14px;
  background-color: #f4dfdf;
  color: #ef514c;
  border: #fdc7c7 3px solid;
  padding: 10px;
  margin-top: 10px;
  display: none;
}

input.error, select.error, textarea.error {
  border-color: #fdc7c7;
}

/* '/contact' */

.social {
  margin-top: auto;
  margin-left: auto;
  a {
    padding: 20px;
    margin: 0 auto;
    float: center;
  }
}
