<div class="container">
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Vigil Photography", root_path, id: "app_name" %>
      <div class="navbar-nav navbar-right", id="log_in">
        <%= link_to "Log in", '#', class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </header>
</div>
